.page__clients :not(:last-child) {
  margin-bottom: 10px;
}
// ----------------------
.clients {
  padding: 50px 0;

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    padding: 8px 15px;
    flex: 0 0 16.666667%; /* -1/6 */
    text-align: center;
    min-width: 140px; /* 2.8/2 */

    & img {
      max-width: 100%;
    }
  }
}
// ----------------------- ...767]
@media (max-width: 767px) {
  .clients {
    padding: 30px 0;
  }
}
