$bg-color: #fafafa;
$bg-secondary: #17213c;

$txt: #252b42;
$txt-secondary: #737373;

$white: #fff;
$black: #000;
$green: #0d5c63;
$orange: #ff7b47;

$bg-input: #f9f9f9;
$border-input: #e6e6e6;

$footer-img-clr: #8ec2f2;
